form{
    border-radius: 10px;
}

h1{
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label{
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
}
