.productPictureDivCart{
    width: 28%;
    height: 20vh;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 1.5%;
}

.productImageCart{
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.cartItem{
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.3019607843), 0px 4px 8px 3px rgba(0,0,0,.1490196078); /* Taken from Etsy.com */
    width: 50%;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    height: auto;
}

.CartItemsDiv{
    position: absolute;
    width: 95%;
    height: auto;
    top: 35%;
    left: 5%;
}

.sellerCart{
    margin-bottom: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.productPicTitleDiv{
    display: flex;
}

.productCartTitle{
    padding-left: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: 500;
}

.titleDescriptionDiv{
    margin-left: 1%;
    width: 45%;
}

.prodcutCartDescription{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    padding-left: 2%;
    margin-top: 2%;
}

.descriptionQuantity{
    background-color: #292828;
    padding: 2%;
    width: 90%;
    margin-left: 2%;
    margin-top: 1%;
}

.selectionCart{
    padding-left: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    height: 5vh;
    background-color: #191919;
    color: #999999;
    width: 4vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    border-radius: 10px;
}

.quantityCart{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    margin-left: 2%;
    margin-bottom: 3%;
}

.quantityOptionsDiv{
    margin-top: 10%
}

.totalCost{
    margin-left: 68%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: bold;
}

.PriceCart{
    width: 25%;
}

.Shipping{
    margin-top: 70%;
    display: flex;
    margin-left: 35%;
}

.shippingWord{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

.freeWord{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    color: #9BE4A7;
    margin-left: 5%;
    margin-top: 1%;
}

.xPic{
    background-color: transparent;
    width: 20%;
    height: auto;
    margin-right: 1%;
    vertical-align:sub;
}

.XButtonDiv{
    background-color: transparent;
    width: 20%;
}

.DeleteButtonCart{
    background-color: #191919;
    border: none;
    color: #bfbfbf;
    cursor: pointer;
}

.flexXButton{
    display: flex;
    justify-content: flex-start;
    width: 70%;
}

.checkOutCart{
    position: fixed;
    right:10%;
    bottom: 45%;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.TotalPrice{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #999999;
}

.checkOutCartButton{
    background-color: #292828;;
    margin-top: 10%;
    width: 100%;
    cursor: pointer;
    border: none;
    color: #FFF;
    border-radius: 10px;
    height: 3.5vh;
}

.checkOutCartButton:hover{
    background-color: #999999;
}

.itemTotalCO{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
}

.totalPriceCO{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #999999;
    font-weight: bold;
}

.itemsInCart{
    position: absolute;
    top: 20%;
    left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: 300;
}

.purchaseProtection{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    background-color: rgb(20, 51, 82);
    border-radius: 10px;
    height: 7vh;
}

.hpp{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.shopWords{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 0.5%;
}

.SuccesfullyPlacedOrder{
    position: absolute;
    top: 45%;
    left: 37%;
    color: #999999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: 700;

}