.productPictureDivShow{
    width: 93%;
    height: 65vh;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 1.5%;
    padding-top: 2%;
    padding-left: 2%;
    position: absolute;
    left: 5%;
}

.productImage{
    border-radius: 10px;
    width: 54%;
    height: 100%;
} 

.demand{
    color: #E699A4;
    position: absolute;
    left: 58%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: bold;
    top: 18%;
}

.price{
    color: #BFBFBF;
    left: 58%;
    top: 23%;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.title{
    color: #999999;
    position: absolute;
    left: 58%;
    top: 30%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

.seller{
    color: #999999;
    /* position: absolute; */
    /* top: 33.5%;
    left: 58%; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: -1%;
}

.purple{
    width: 5%;
    height: auto;
    z-index: 10;
    margin-top: -0.5%;
}

.sellerDiv{
    position: absolute;
    top: 34%;
    left: 58%;
    width: 30vw;
    display: flex;
    align-items: center;
}

.checkMark{
    width: 1.2%;
    height: auto;
    top: 38%;
    left: 58%;
    position: absolute;
}

.returns{
    position: absolute;
    left: 60%;
    top: 38.2%;
    color: #999999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description{
    color: #999999;
    position: absolute;
    left: 58%;
    top: 49%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    margin-bottom: 5%;
}

.quantity{
    color: #999999;
    position: absolute;
    top: 62%;
    left: 58%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}

.select{
    position: absolute;
    top: 65%;
    left: 58%;
    height: 5vh;
    width: 40vw;
    background-color: #191919;
    color: #999999;
    cursor: pointer;
}

.addToCart{
    position: absolute;
    top: 78%;
    left: 58%;
    height: 5vh;
    width: 40vw;
    background-color: #292828;
    color: #FFF;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: medium;
    border-radius: 20px;
    cursor: pointer;
}

.addToCart:hover{
    /* box-shadow: 0px 0px 8px rgba(255, 255, 245, 1.0); */
    background-color: #999999;
}

.addedToCartWords{
    position: absolute;
    top: 86%;
    left: 70%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color: #999999;
}