.productPictureDiv{
    width: 130%;
    height: 62vh;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 1.5%;
    padding-top: 2%;
    padding-left: 2%;
    position: absolute;
    left: 5%;
}

.productImage{
    border-radius: 10px;
    width: 38%;
    height: 100%;
}