li{
    list-style-type: none;
}

i{
    background: transparent;
}

.profileButton{
    background-color: transparent;
    top: 2%;
    right: 5%;
    position: absolute;
}

.profile-dropdown{
    top: 3%;
    right: 5%;
    position: absolute;
}

