li{
    list-style-type: none;
    margin-bottom: 5%;
}

i{
    background: transparent;
}

.profileButton{
    background-color: transparent;
    top: 3.5%;
    right: 2%;
    position: absolute;
}

.logo{
    position: absolute;
    top: 2%;
}
.profile-dropdown{
    top: 7%;
    right: 2%;
    position: absolute;
}

.SignUpButton{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    right: 10%;
    border: none;
    top: 2%;
    cursor: pointer;
    color: #999999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-style: normal;
    font-weight: normal;
}

.cartLogo {
    width: 2%;
    height: auto;
    right: 5%;
    position: absolute;
    top: 3%;
}
  
.userDetails {
    color: orange;
}
