li{
    list-style-type: none;
    margin-bottom: 5%;
}

i{
    background: transparent;
}

.userDetails{
    padding: 5%;
    color: #999999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profileButton{
    background-color: transparent;
    top: 3.5%;
    right: 7%;
    position: absolute;
}

.logo{
    position: absolute;
    top: 2%;
}
.profile-dropdown{
    top: 7%;
    right: 6%;
    background-color: #191919;
    position: absolute;
    z-index: 10;
    width: 15%;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 1);
}

.SignUpButton{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    right: 10%;
    border: none;
    top: 2%;
    cursor: pointer;
    color: #999999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-style: normal;
    font-weight: normal;
}

.cartLogo {
    width: 2%;
    height: auto;
    right: 2%;
    position: absolute;
    top: 3%;
}

.signOutButton{
    background-color: transparent;
    cursor: pointer;
    color: #999999;
    margin-left: 5%;
}

.logoutImage{
    width: 7%;
    height: auto;
    position: relative;
    bottom: -0.2vh;
}

